# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [2]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
data

[{'state': 'Florida',
  'shortname': 'FL',
  'info': {'governor': 'Rick Scott'},
  'counties': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}]},
 {'state': 'Ohio',
  'shortname': 'OH',
  'info': {'governor': 'John Kasich'},
  'counties': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}]}]

In [6]:
# use normalization to create tables from nested element
pd.json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [7]:
# further populate tables created from nested element
pd.json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [8]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [9]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [10]:
json_df = pd.read_json('data/world_bank_projects.json')
json_df.countryname.value_counts().head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [11]:
json_string = json.load((open('data/world_bank_projects.json')))
code_names = pd.json_normalize(json_string, 'mjtheme_namecode')
top10_codes = code_names.code.value_counts()
df1 = top10_codes[0:10].index.to_frame(name="code")
d = top10_codes[0:10].to_dict()
df2 = code_names[(code_names.code.isin(d)) & (code_names.name != "")].drop_duplicates()
top10 = pd.merge(df1, df2, on="code", how="outer")
top10

  code                                          name
0   11  Environment and natural resources management
1   10                             Rural development
2    8                             Human development
3    2                      Public sector governance
4    6         Social protection and risk management
5    4      Financial and private sector development
6    7                   Social dev/gender/inclusion
7    5                         Trade and integration
8    9                             Urban development
9    1                           Economic management

In [12]:
normalized_data = pd.json_normalize(json_string, 'mjtheme_namecode', ['_id', 'project_name'])

# pd.json_normalize(json_string, 'mjtheme_namecode', ['sector', 'projectfinancialtype', 'supplementprojectflg'])
#        'supplementprojectflg', 'projectfinancialtype', 'prodline', 'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
#        'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
#        'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
#        'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
#        'prodlinetext', 'productlinetype', 'regionname', 'status',
#        'country_namecode', 'envassesmentcategorycode', 'project_abstract',
#        'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
#        'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
#        'majorsector_percent', 'board_approval_month', 'theme_namecode',
#        'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
#        'sector_namecode', '_id'])   --> this gave errors

In [13]:
table = code_names[code_names.name != ""].drop_duplicates()
#table.code = pd.to_numeric(table.code)
table = table.set_index('code').sort_index().to_dict()
table['name']

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [18]:
normalized_data['name'] = normalized_data['code'].apply(lambda x: table['name'][x])
# proof that there is no missing name in any row
normalized_data[normalized_data['name'] == ""]

Empty DataFrame
Columns: [code, name, _id, project_name]
Index: []

In [25]:
normalized_data = normalized_data.sort_values(by=['project_name'])
normalized_data2 = pd.json_normalize(json_string)

final_df = pd.merge(normalized_data, normalized_data2, on="project_name", how="outer")
final_df

,code,name,_id,project_name,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,...,sector2.Percent,sector2.Name,sector4.Percent,sector4.Name,project_abstract.cdata,theme1.Percent,theme1.Name,sector3.Percent,sector3.Name,_id.$oid
0,6,Social protection and risk management,{'$oid': '52b213b38594d8a2be17c966'},5M: Displaced People in Jordan / Lebanon,"[{'Name': 'Public administration- Education'},...",N,OTHER,RE,"[Public sector governance, Social protection a...",0,...,25.0,Public administration- Health,25.0,General public administration sector,NaN,25,Other public sector governance,25.0,Public administration- Other social services,52b213b38594d8a2be17c966
1,6,Social protection and risk management,{'$oid': '52b213b38594d8a2be17c966'},5M: Displaced People in Jordan / Lebanon,"[{'Name': 'Public administration- Education'},...",N,OTHER,RE,"[Public sector governance, Social protection a...",0,...,25.0,Public administration- Health,25.0,General public administration sector,NaN,25,Other public sector governance,25.0,Public administration- Other social services,52b213b38594d8a2be17c966
2,6,Social protection and risk management,{'$oid': '52b213b38594d8a2be17c966'},5M: Displaced People in Jordan / Lebanon,"[{'Name': 'Public administration- Education'},...",N,OTHER,RE,"[Public sector governance, Social protection a...",0,...,25.0,Public administration- Health,25.0,General public administration sector,NaN,25,Other public sector governance,25.0,Public administration- Other social services,52b213b38594d8a2be17c966
3,2,Public sector governance,{'$oid': '52b213b38594d8a2be17c966'},5M: Displaced People in Jordan / Lebanon,"[{'Name': 'Public administration- Education'},...",N,OTHER,RE,"[Public sector governance, Social protection a...",0,...,25.0,Public administration- Health,25.0,General public administration sector,NaN,25,Other public sector governance,25.0,Public administration- Other social services,52b213b38594d8a2be17c966
4,11,Environment and natural resources management,{'$oid': '52b213b38594d8a2be17c849'},AF - Clean-up & Land Reclamation Project,"[{'Name': 'General energy sector'}, {'Name': '...",Y,IDA,PE,"[Environment and natural resources management,...",4200000,...,29.0,General public administration sector,NaN,NaN,The objectives of the Second Additional Financ...,2,Land administration and management,2.0,Forestry,52b213b38594d8a2be17c849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,11,Environment and natural resources management,{'$oid': '52b213b38594d8a2be17c84c'},Zambia Strengthening Climate Resilience (PPCR ...,"[{'Name': 'General transportation sector'}, {'...",N,OTHER,RE,"[Environment and natural resources management,...",0,...,30.0,Flood protection,10.0,"General agriculture, fishing and forestry sector",The development objective of the Second Phase ...,40,Climate change,20.0,General public administration sector,52b213b38594d8a2be17c84c
1495,6,Social protection and risk management,{'$oid': '52b213b38594d8a2be17c84c'},Zambia Strengthening Climate Resilience (PPCR ...,"[{'Name': 'General transportation sector'}, {'...",N,OTHER,RE,"[Environment and natural resources management,...",0,...,30.0,Flood protection,10.0,"General agriculture, fishing and forestry sector",The development objective of the Second Phase ...,40,Climate change,20.0,General public administration sector,52b213b38594d8a2be17c84c
1496,11,Environment and natural resources management,{'$oid': '52b213b38594d8a2be17c864'},Zambia Water Resources Development Project,"[{'Name': 'General water, sanitation and flood...",N,IDA,PE,"[Rural development, Environment and natural re...",50000000,...,24.0,"Public administration- Water, sanitation and f...",NaN,NaN,The objective of the Water Resources Developme...,25,Other rural development,NaN,NaN,52b213b38594d8a2be17c864
1497,11,Environment and natural resources management,{'$oid': '52b213b38594d8a2be17c864'},Zambia Water Resources Development Project,"[{'Name': 'General water, sanitation and flood...",N,IDA,PE,"[Rural development, Environment and natural re...",50000000,...,24.0,"Public administration- Water, sanitation and f...",NaN,NaN,The objective of the Water Resources Developme...,25,Other rural development,NaN,NaN,52b213b38594d8a2be17c864
1498,10,Rural development,{'$oid': '52b213b38594d8a2be17c864'},Zambia Water Resources Development Project,"[{'Name': 'General water, sanitation and flood...",N,IDA,PE,"[Rural development, Environment and natural re...",50000000,...,24.0,"Public administration- Water, sanitation and f...",NaN,NaN,The objective of the Water Resources Developme...,25,Other rural development,NaN,NaN,52b213b38594d8a2be17c864

In [ ]:
# OLD METHOD without using mapping function - too redundant 
# normalized_data.loc[normalized_data.code == "1"] = normalized_data[normalized_data.code == "1"].replace({'name': {"": "Economic management"}})
# normalized_data.loc[normalized_data.code == "2"] = normalized_data[normalized_data.code == "2"].replace({'name': {"": "Public sector governance"}})
# normalized_data.loc[normalized_data.code == "3"] = normalized_data[normalized_data.code == "3"].replace({'name': {"": "Rule of law"}})
# normalized_data.loc[normalized_data.code == "4"] = normalized_data[normalized_data.code == "4"].replace({'name': {"": "Financial and private sector development"}})
# normalized_data.loc[normalized_data.code == "5"] = normalized_data[normalized_data.code == "5"].replace({'name': {"": "Trade and integration"}})
# normalized_data.loc[normalized_data.code == "6"] = normalized_data[normalized_data.code == "6"].replace({'name': {"": "Social protection and risk management"}})
# normalized_data.loc[normalized_data.code == "7"] = normalized_data[normalized_data.code == "7"].replace({'name': {"": "Social dev/gender/inclusion"}})
# normalized_data.loc[normalized_data.code == "8"] = normalized_data[normalized_data.code == "8"].replace({'name': {"": "Human development"}})
# normalized_data.loc[normalized_data.code == "9"] = normalized_data[normalized_data.code == "9"].replace({'name': {"": "Urban development"}})
# normalized_data.loc[normalized_data.code == "10"] = normalized_data[normalized_data.code == "10"].replace({'name': {"": "Rural development"}})
# normalized_data.loc[normalized_data.code == "11"] = normalized_data[normalized_data.code == "11"].replace({'name': {"": "Environment and natural resources management"}})