## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

databaseName
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03 11:00:00,2
1,4,1,2012-07-03 08:00:00,2
2,6,0,2012-07-03 18:00:00,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
select name from facilities where membercost != 0

name
Tennis Court 1
Tennis Court 2
Massage Room 1
Massage Room 2
Squash Court

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
select COUNT(name) from facilities where membercost == 0

count(name)
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
select facid, name, membercost, monthlymaintenance from facilities where membercost < 0.2*monthlymaintenance and membercost != 0

facid,name,membercost,monthlymaintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities where facid in (1, 5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
SELECT name, monthlymaintenance,
   CASE WHEN monthlymaintenance > 100 THEN 'EXPENSIVE'
        ELSE 'CHEAP'
   END AS label
FROM facilities

name,monthlymaintenance,label
Tennis Court 1,200,EXPENSIVE
Tennis Court 2,200,EXPENSIVE
Badminton Court,50,CHEAP
Table Tennis,10,CHEAP
Massage Room 1,3000,EXPENSIVE
Massage Room 2,3000,EXPENSIVE
Squash Court,80,CHEAP
Snooker Table,15,CHEAP
Pool Table,15,CHEAP

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql
select firstname, surname, joindate from members 
  where date_format(joindate, "yyyy/MM/dd HH:mm:ss") in (select max(date_format(joindate, "yyyy/MM/dd HH:mm:ss")) from members)

firstname,surname,joindate
Darren,Smith,2012-09-26 18:08:45

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
select concat(members.firstname, ' ', members.surname) as fullname, facilities.name from members
inner join bookings on bookings.memid = members.memid
inner join facilities on facilities.facid = bookings.facid
where facilities.facid in (0, 1)
group by fullname, facilities.name
order by fullname

fullname,name
Anne Baker,Tennis Court 1
Anne Baker,Tennis Court 2
Burton Tracy,Tennis Court 2
Burton Tracy,Tennis Court 1
Charles Owen,Tennis Court 2
Charles Owen,Tennis Court 1
Darren Smith,Tennis Court 2
David Farrell,Tennis Court 2
David Farrell,Tennis Court 1
David Jones,Tennis Court 2
David Jones,Tennis Court 1
David Pinker,Tennis Court 1
Douglas Jones,Tennis Court 1
Erica Crumpet,Tennis Court 1
Florence Bader,Tennis Court 1
Florence Bader,Tennis Court 2
GUEST GUEST,Tennis Court 1
GUEST GUEST,Tennis Court 2
Gerald Butters,Tennis Court 1
Gerald Butters,Tennis Court 2
Henrietta Rumney,Tennis Court 2
Jack Smith,Tennis Court 2
Jack Smith,Tennis Court 1
Janice Joplette,Tennis Court 1
Janice Joplette,Tennis Court 2
Jemima Farrell,Tennis Court 2
Jemima Farrell,Tennis Court 1
Joan Coplin,Tennis Court 1
John Hunt,Tennis Court 2
John Hunt,Tennis Court 1
Matthew Genting,Tennis Court 1
Millicent Purview,Tennis Court 2
Nancy Dare,Tennis Court 2
Nancy Dare,Tennis Court 1
Ponder Stibbons,Tennis Court 1
Ponder Stibbons,Tennis Court 2
Ramnaresh Sarwin,Tennis Court 2
Ramnaresh Sarwin,Tennis Court 1
Tim Boothe,Tennis Court 1
Tim Boothe,Tennis Court 2
Tim Rownam,Tennis Court 2
Tim Rownam,Tennis Court 1
Timothy Baker,Tennis Court 1
Timothy Baker,Tennis Court 2
Tracy Smith,Tennis Court 2
Tracy Smith,Tennis Court 1

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
select facilities.name, concat(members.surname, ' ', members.firstname) as fullname,
   CASE WHEN members.memid == 0 THEN bookings.slots * facilities.guestcost
        ELSE bookings.slots * facilities.membercost
   END as totalcost
from bookings
inner join members on bookings.memid = members.memid
inner join facilities on facilities.facid = bookings.facid
where date_format(bookings.starttime, "yyyy-MM-dd") = "2012-09-14" 
  and ((members.memid == 0 and bookings.slots * facilities.guestcost > 30) 
        or (members.memid != 0 and bookings.slots * facilities.membercost > 30))
order by totalcost DESC

name,fullname,totalcost
Massage Room 2,GUEST GUEST,320.0
Massage Room 1,GUEST GUEST,160.0
Massage Room 1,GUEST GUEST,160.0
Massage Room 1,GUEST GUEST,160.0
Tennis Court 2,GUEST GUEST,150.0
Tennis Court 2,GUEST GUEST,75.0
Tennis Court 1,GUEST GUEST,75.0
Tennis Court 1,GUEST GUEST,75.0
Squash Court,GUEST GUEST,70.0
Massage Room 1,Farrell Jemima,39.6
Squash Court,GUEST GUEST,35.0
Squash Court,GUEST GUEST,35.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql
select fullname, facility, totalcost from (
	select 
		concat(members.firstname, ' ', members.surname) as fullname,
		facilities.name as facility,
		case
			when members.memid == 0 then
				bookings.slots * facilities.guestcost
			else
				bookings.slots * facilities.membercost
		end as totalcost
		from members
			inner join bookings
				on members.memid = bookings.memid
			inner join facilities
				on bookings.facid = facilities.facid
		where date_format(bookings.starttime, "yyyy-MM-dd") = "2012-09-14" 
	) as subquery
where totalcost > 30
order by totalcost desc;

fullname,facility,totalcost
GUEST GUEST,Massage Room 2,320.0
GUEST GUEST,Massage Room 1,160.0
GUEST GUEST,Massage Room 1,160.0
GUEST GUEST,Massage Room 1,160.0
GUEST GUEST,Tennis Court 2,150.0
GUEST GUEST,Tennis Court 2,75.0
GUEST GUEST,Tennis Court 1,75.0
GUEST GUEST,Tennis Court 1,75.0
GUEST GUEST,Squash Court,70.0
Jemima Farrell,Massage Room 1,39.6
GUEST GUEST,Squash Court,35.0
GUEST GUEST,Squash Court,35.0

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
select facilities.name, sum(CASE WHEN bookings.memid == 0 THEN bookings.slots * facilities.guestcost
                                 ELSE bookings.slots * facilities.membercost END) as revenue
from facilities
inner join bookings on facilities.facid = bookings.facid
group by facilities.name
having revenue < 1000
order by revenue

name,revenue
Table Tennis,180.0
Snooker Table,240.0
Pool Table,270.0